header {
    color: whitesmoke;
    text-align: center;
    font-family: 'Poppins', sans-serif;}

h1    {
    font-size: 40px;
    margin-top: 100px;

}

.byline {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 50px;
}

body {
    background-image: url('images/pexels-rosemary-ketchum-1564470-a.jpg');
    background-position:center; 
    /* background-size: 100vw; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    max-width: 500px;
    height: 1350px;
    background-color: rgba(30,28,79,0.95);
    border-radius: 1%;
    margin:auto;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
}

.form-prompt {
    /* margin-left: 10%; */
    display: inline-grid;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
}    

.form-field {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    /* margin-left: 10%; */
    margin-bottom: 25px;
    border-radius: 5px;
    border-color: whitesmoke;
    padding-left: 20px;
}

.selector-list {
    display:grid;
    line-height: 28px;
    margin-bottom: 25px;

}

.comments {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-color: whitesmoke;
    padding: 10px;
    resize: none;
}

.submit-btn {
    background-color: #12a400;
    border-width: 0px;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin:0 auto;
    margin-top: 28px;
    display:block;
}

button:hover {
    border-color: #8dff7e;
    border-width: 2px;
    font-weight: bolder;
    font-size: 19px;
} 
